{
    "swagger": "2.0",
    "info": {
        "description": "\u6728\u6709\u5b9d\u5178 api\u670d\u52a1",
        "version": "1.0.0",
        "title": "\uff3b\u6728\u6709\u5b9d\u5178\u5c0f\u7a0b\u5e8f\uff3dSwagger",
        "termsOfService": "http:\/\/192.168.0.168\/",
        "contact": {
            "email": "www.saruri@163.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http:\/\/www.apache.org\/licenses\/LICENSE-2.0.html"
        }
    },
    "host": "swagger.com,192.168.1.5:8015",
    "basePath": "",
    "tags": [{
        "name": "passport",
        "description": "\u767b\u5f55\u76f8\u5173"
    }],
    "schemes": [
        "http"
    ],
    "paths": {
        "sendVerify\/{phone}\/{deviceType}": [],
        "\/api\/passport\/sendVerify\/{phone}\/{deviceType}": {
            "post": {
                "tags": [
                    "passport"
                ],
                "summary": "\u53d1\u9001\u9a8c\u8bc1\u7801",
                "description": "",
                "operationId": "sendVerify",
                "produces": [
                    "application\/json"
                ],
                "parameters": [{
                        "name": "phone",
                        "in": "path",
                        "required": true,
                        "description": "\u624b\u673a\u53f7\n\t ",
                        "type": "string"
                    },
                    {
                        "name": "deviceType",
                        "in": "path",
                        "required": true,
                        "description": "\u8bbe\u5907\u7c7b\u578b(0: android\u624b\u673a, 1: ios\u624b\u673a, 2: android\u5e73\u677f, 3: ios\u5e73\u677f, 4: pc)\n\t ",
                        "type": "integer",
                        "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4"
                        ]
                    }
                ]
            }
        },
        "login": [],
        "\/api\/passport\/login": {
            "post": {
                "tags": [
                    "passport"
                ],
                "summary": "\u767b\u96469111",
                "description": "",
                "operationId": "login",
                "produces": [
                    "application\/json"
                ],
                "parameters": [{
                        "name": "phone",
                        "in": "formData",
                        "required": true,
                        "description": "\u624b\u673a\u53f7\n\t ",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "description": "\u5bc6\u7801\n\t ",
                        "type": "string"
                    },
                    {
                        "name": "deviceType",
                        "in": "formData",
                        "required": true,
                        "description": "\u8bbe\u5907\u7c7b\u578b(0: android\u624b\u673a, 1: ios\u624b\u673a, 2: android\u5e73\u677f, 3: ios\u5e73\u677f, 4: pc)\n\t ",
                        "type": "integer",
                        "enum": [
                            "0",
                            "1",
                            "2",
                            "3",
                            "4"
                        ]
                    },
                    {
                        "name": "verifyCode",
                        "in": "formData",
                        "required": false,
                        "description": "\u9a8c\u8bc1\u7801\n\t ",
                        "defaultValue": "0",
                        "type": "string"
                    }
                ]
            }
        },
        "profile": [],
        "\/api\/passport\/profile": {
            "get": {
                "tags": [
                    "passport"
                ],
                "summary": "\u83b7\u53d6\u914d\u7f6e1",
                "description": "",
                "operationId": "profile",
                "produces": [
                    "application\/json"
                ],
                "parameters": [{
                    "name": "keys",
                    "in": "query",
                    "required": true,
                    "description": "\u9700\u8981\u83b7\u53d6\u914d\u7f6e\u7684Key\u503c\u6570\u7ec4\n\t ",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "collectionFormat": "brackets"
                }]
            }
        }
    },
    "securityDefinitions": [],
    "definitions": [],
    "externalDocs": {
        "description": "\u67e5\u627e\u8be6\u7ec6\u8bf4\u660e",
        "url": "http:\/\/swagger.io"
    }
}